# Local Environment Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Database / Supabase keys (if saved in separate files)
supabase/.temp/
.supabase/
supabase.js
# Dependencies
node_modules/
/dist
/build

# OS metadata
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
